@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  --deep-blue-color: #0045ff;
  --sky-blue-color: #00e2ff;
  --black-color: #000000;
  --pink-color: #ff4eff;
  --light-gray-color: #dfdfdf;
  --light-green-color: #1cff59;
  --white-color: #ffffff;
  --dark-gray-color: #2b2b2b;
}
* {
  box-sizing: border-box;
}
body,
table,
div,
p,
span,
a {
  font-family: "Noto Sans KR", sans-serif !important;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--pink-color);
}
/* nav */
.nav {
  position: fixed;
  width: 100%;
  height: 56px;
  background: var(--black-color);
  z-index: 100;
}
.nav-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-wrap .nav__logo {
  height: 100%;
}
.nav .nav-wrap .nav__logo img {
  padding-left: 20px;
  width: 155px;
  margin-right: 20px;
  height: 100%;
}
.nav__expensive__inner {
  width: 100%;
  padding-left: 5px;
  display: none;
}
.nav__expensive__inner > i {
  transition: all 400ms ease;
  color: white;
  font-size: 33px;
  transform: rotate(45deg);
  text-align: center;
}
.nav__categoris {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.res__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background: var(--black-color); */
}
.categori__menu__wrap {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.categori__menu__wrap .categori {
  width: 100%;
}

/* 🤑 */
.categori__menu__wrap .categori .exps__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.categori__menu__wrap .categori .exp__list {
  width: 100%;
  background: black;
  position: absolute;
  top: 56px;
  left: 0;
  border-top: #ffffff 2px solid;
  display: none;
  justify-content: center;
}
.activeNav{
  display: flex !important;
}

.res__contain .categori__menu__wrap .categori a,
.categori__link__wrap .categori,
.exp__list a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 600;
  padding: 17px 15px 13px 15px;
}

.categori__btn__icon {
  color: var(--white-color);
  display: none;
}

.categori__link__wrap {
  display: flex;
  font-size: 16px;
}


.categori__menu__wrap .categori:nth-child(1) .activeOver a{
  color: #f5ca00;
}
.categori__menu__wrap .categori:nth-child(2) .activeOver a{
  color: var(--light-green-color);
}
.categori__menu__wrap .categori:nth-child(3) .activeOver a{
  color: var(--sky-blue-color);
}
.categori__menu__wrap .categori:nth-child(4) .activeOver a{
  color: var(--pink-color);
}
.categori__menu__wrap .categori:nth-child(5) .activeOver a{
  color: var(--deep-blue-color);
}
.categori__menu__wrap .categori:nth-child(6) .activeOver a{
  color: orangered;
}

.exp__list a {
  font-size: 22px;
}

.categori__menu__wrap .categori:nth-child(1) .exp__list a {
  color: yellow;
}
.categori__menu__wrap .categori:nth-child(2) .exp__list a {
  color: var(--light-green-color);
}
.categori__menu__wrap .categori:nth-child(3) .exp__list a {
  color: var(--sky-blue-color);
}
.categori__menu__wrap .categori:nth-child(4) .exp__list a {
  color: var(--pink-color);
}
.categori__menu__wrap .categori:nth-child(5) .exp__list a {
  color: var(--deep-blue-color);
}
.categori__menu__wrap .categori:nth-child(6) .exp__list a {
  color: orangered;
}

.nav .nav__sns__links {
  display: flex;
  margin-left: 10px;
  padding-right: 20px;
}
/* header */
.header {
  padding-top: 56px;
  height: calc(20vw + 160px);
  display: flex;
}
.header__logo {
  width: 50%;
  background: var(--deep-blue-color);
  position: relative;
  padding: 20px;
}
.header__logo img {
  height: auto;
  max-width: 100%;
}
.header__imgs {
  position: relative;
  width: 50%;
  background: var(--light-green-color);
}
/* none check */
.header__imgs .img:nth-child(1n + 2) {
  display: none;
}
.img {
  height: 100%;
  margin: 10px;
}
.img .img__typograpy {
  height: 100%;
  position: relative;
}
.img .img__typograpy h3 {
  font-size: calc(2.9vw + 10px);
  font-weight: 600;
  width: 100%;
}
.img .img__typograpy :nth-child(3) {
  position: absolute;
  bottom: 20px;
}
.img .img__typograpy :nth-child(3)::after {
  content: url(https://seoul.designfestival.co.kr/wp-content/uploads/2021/10/main-banner-arrow-black.svg);
  width: 50px;
  height: auto;
  color: black;
  position: absolute;
  right: 20px;
  bottom: 0px;
}
.header__selectImgBtns {
  position: absolute;
  top: 15px;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 0;
  width: 12px;
  height: 72px;
  background: transparent;
}
.header__selectImgBtns .selectImgBtn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0.1px black solid;
  background: rgba(0, 0, 0, 0.2);
}
.header__selectImgBtns .active {
  background: var(--white-color);
}

/* 😡 */
/* tiker */
.ticker {
  height: 54px;
  background: var(--black-color);
  line-height: 54px;
  display: flex;
  overflow: hidden;
}

.ticker .ticker__wrap {
  display: flex;
  animation: tickerX1 40s linear infinite;
  animation-delay: -40s;
}
.ticker .ticker__wrap:nth-child(2) {
  animation: tickerX2 40s linear infinite;
  animation-delay: -20s;

}

/* 여기 js로 둘다 실행되도록 구현해야함 
/* .ticker .ticker__wrap:hover,
.ticker .ticker__wrap:nth-child(2):hover{
  animation-play-state : paused;
  animation-play-state :running
} */ 

@keyframes tickerX1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes tickerX2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.ticker span {
  font-size: 30px;
  padding-right: 10px;
  white-space: nowrap;
}

.ticker .sky {
  color: var(--sky-blue-color);
}
.ticker .pink {
  color: var(--pink-color);
}
.ticker .green {
  color: green;
}
.ticker .tiker__station {
  color: white;
}

/* programs */

.program {
  background: var(--pink-color);
  height:80%;
}
.program__img__2{
  background: url(./imgs/orange1080x1454.png) center;
}
.program .program__contents .content {
  display: flex;
  border-bottom: 0.1px solid black;
}
.content:nth-child(1n):hover {
  color: white;
}

.program__contents .content h4 {
  font-size: calc(2.9vw + 10px);
  width: 50%;
  padding: 6px 20px;
  font-weight: 700;
}
.content .content__description {
  padding: 12px 20px;
  width: 50%;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.content .content__description .content__description__num {
  font-weight: 700;
  font-size: calc(2.9vw + 10px);
  display: flex;
  align-items: flex-end;
}

.newsletter {
  height: 71px;
  border-top: #000000 solid 0.1px;
  border-bottom: #000000 solid 0.1px;
  background: var(--white-color);
  padding: 10px 20px 8px;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}
.newsletter__text__contain,
.newsletter__res_contain {
  /* width: 100%; */
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.newsletter label,
.newsletter a,
.newsletter .btn {
  font-size: 50px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black-color);
}

.newsletter label {
  margin-right: 20px;
}

.newsletter .btn {
  height: 50px;
  border: none;
  background: transparent;
}

.newsletter .email {
  height: 50px;
  border: none;
  background: var(--light-gray-color);
  font-size: 22px;
  font-weight: 600;
  align-self: center;
  padding: 8px 12px;
  width: 100%;
}
.newsletter .email::placeholder {
  color: white;
}
/* footer */
.footer {
  padding: 20px;
  background: var(--black-color);
  display: flex;
}
.footer__res__wrap {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer__log,
.footer__privacy,
.footer__addr__wrap,
.footer__contect__wrap {
  width: 50%;
  padding: 0 10px;
}
.footer__privacy {
  display: flex;
  flex-direction: column;
}

.footer__privacy a {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-bottom: 13px;
}
.footer__privacy a:last-child {
  display: none;
}
.footer__addr__wrap,
.footer__contect__wrap {
  line-height: 1.5;
  color: white;
  font-weight: 500;
}
.footer__addr__wrap > p:first-child,
.footer__contect__wrap > p:first-child {
  padding-bottom: 16px;
}
.footer__contect__wrap p a {
  color: white;
  text-decoration: none;
}

/* =========================test */
.fa-solid:hover {
  transform: rotate(90deg);
}

/* ===================================================================== */
@media screen and (max-width: 1300px) {
  .categori__menu__wrap {
    font-size: 24px;
  }
  .nav .nav__categoris div a {
    padding: 17px 7px 13px 7px;
  }
  .nav .nav__logo img {
    width: 111px;
  }
}

@media screen and (max-width: 985px) {
  /* nav */
  .nav__categoris {
    /* 🥵 */
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    height: calc(20vw + 104px);
    z-index: 11;
  }

  .categori__menu__wrap .categori .exps__inner,
  .categori__link__wrap {
    padding: 0 16px;
  }

  .nav__categoris .res__contain {
    flex-direction: column;
    background: black;
  }
  .nav__categoris .res__contain .categori__menu__wrap {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .categori__menu__wrap .categori a,
  .categori__link__wrap .categori {
    padding: 0 !important;
  }
  .categori__menu__wrap .categori {
    line-height: 1.7;
  }
  .categori__link__wrap .categori {
    line-height: 1.7;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .nav__categoris .res__contain .categori__link__wrap {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
  }
  .categori__menu__wrap .categori .exp__list {
    /* display: none; */
    width: 100%;
    background: var(--dark-gray-color);
    position: relative;
    top: 0;
    left: 0;
    border-top: none;
    flex-direction: column;
  }
  .categori__menu__wrap .categori .exp__list a {
    width: 100%;
    line-height: 40px;
    height: 40px;
    padding: 0 16px 0 32px !important;
    color: white !important;
    font-size: 20px;
  }

  .categori__btn__icon {
    display: block;
  }

  .categori a:hover {
    color: white !important;
  }
  .nav__expensive__inner {
    display: flex;
    justify-content: center;
  }

  /* titer */
  .ticker {
    height: 45px;
    line-height: 45px;
  }
  .ticker span {
    font-size: 24px;
  }
  /* progran */
  .program__cotents .content {
    flex-direction: column;
  }
  .content:nth-child(1n):hover {
    color: black !important;
  }
  .program .content h4,
  .program .content .content__description {
    width: 100%;
  }

  /* newsletter */
  .newsletter {
    height: 56px;
    border-top: #000000 solid 0.1px;
    border-bottom: #000000 solid 0.1px;
    background: var(--white-color);
    padding: 8px 16px 7px;
    display: flex;
    align-items: center;
  }
  .newsletter__res_contain {
    position: relative;
    width: 100%;
  }
  .newsletter__text__contain {
    display: none;
  }
  .newsletter .email {
    height: 40px;
    padding: 6px 10px;
  }
  .newsletter .btn {
    position: absolute;
    right: 15px;
    height: 23px;
    font-size: 21px;
    border: none;
    background: transparent;
    z-index: 10;
  }
  .newsletter label,
  .newsletter a {
    font-size: 40px;
  }

  /* footer */
  .footer {
    flex-direction: column;
  }

  .footer__res__wrap {
    width: 100%;
  }

  .footer__logo,
  .footer__privacy {
    margin-bottom: 16px;
  }
  .footer__log,
  .footer__privacy,
  .footer__contect__wrap {
    padding: 0;
  }
  .footer__privacy a:last-child {
    display: block;
  }

  .footer__addr__wrap {
    padding-right: 24px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
  }
  .header__logo,
  .header__imgs {
    width: 100%;
    height: 50%;
  }
  .header__logo img {
    max-height: 100%;
    width: auto;
  }
  .img .img__typograpy h3 {
    font-size: calc(4.9vw + 10px) !important;
  }
  .content__description__num {
    font-size: 50px !important;
  }
}
